* {
    margin: 0px auto;
    /* outline: 1px solid pink; */
}
.wrapper {
    width: 90%;
    border: 2px solid black;
    min-height: 1000px;
}
.header {
    width: 100%;
    display: inline-block;
    padding-top: 10px;
    border-bottom: 2px solid black;
}
.header h5 {
    display: inline-block;
    margin-right: 480px;
    margin-left: 20px;
}
.header p.welcome {
    display: inline-block;
    margin-right: 130px;
}
.header a {
    display: inline-block;
}
p.headline {
    text-decoration: underline;
    font-weight: bold;
}
.wall {
    width: 40%;
    margin: 50px 0px 0px 70px;
    display: inline-block;
}

.wall p.message_head {
    margin-bottom: 0px;
}
.wall table {
    table-layout: fixed;
}
.wall table td.msg {
    padding-left: 20px;
}
.send {
    display: inline-block;
    vertical-align: top;
    margin-top: 50px;
    margin-left: 100px;
    width: 40%
}