* {
    margin: 0px auto;
    /* outline: 1px solid pink; */
}
.container {
    margin-top: 50px;
}
.header_box {
    width: 500px;
    background-color: green;
    border: 2px solid black;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 10px;
}
    .header_box p {
        margin-bottom: 0px;
    }
.form_box {
    border: 2px solid black;
    margin-left: 25px;
    padding: 25px;
    width: 400px;
}
    .form_box .field {
        margin-bottom: 20px;
    }
.submitted {
    width: 500px;
    border: 2px solid black;
    padding: 10px;
}
.submitted p {
    margin-bottom: 0px;
}
    .titles {
        margin-left: 5px;
        display: inline-block;
    }
    .titles p {
        font-weight: bold;
    }
    .data {
        display: inline-block;
        margin-left: 25px;
    }
